################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JUST.Data/.vs/JUST.Data/v15
/JUST.Data/obj/Debug
/JUST.Data/Properties
